/*----CSS Formatting Document---- */
/*------------ head-------------- */
h1{
	font-size:50px; 
	color:#FDFDFC;
	padding:5px;
	padding-top:1px;
        text-shadow: 2px 2px #7596BB;
	font-variant: small-caps;
	text-decoration: underline overline;}

.formStyle{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.formButton{
		font-family:Arial, Helvetica, sans-serif;
		color:black;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
		border: 2px solid white;
		border-radius: 8px;}
.formButton:hover {background-color:#6D778A; color#FDFDFC;}
/*-----------NAVAIGTION-----------*/
/*nav{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.2em;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
	padding-left:20px;
}
nav ul{
	font-size:1.2em;
	padding:.2em .4em;
	display:block;
	margin-top:0
}
nav ul li{
	display:inline;
	padding:.2em .4em;
	border-right:solid thin #003300;
}
#subnav{
	font-size:1em;
	padding:.3em .5em;
	margin-top:-25px;
}
.endlink{border:0;}
a.activepage{
	color:#C30;
	text-decoration:none;
}*/
nav{font-variant: small-caps;}
/*----------CONTENT AREA----------*/
.T{ text-indent: 50px;padding:15px}
.IP{ text-indent: 50px;padding:15px}
.VT{font-size:20px;text-shadow: 1px 1px gray;  font-style: italic;padding:10px;}
#content iframe{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)}

/*-------------FOOTER-------------*/
footer {color: #FDFDFC; background-color: #29303D;padding: 10px;}
footer a{background-color:white;border: 2px solid white;
    border-radius: 8px;}
footer a:hover {background-color:#6D778A; color:#FDFDFC;}